.dashboard {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  font-size: 32px;
  font-weight: 800;
  color: var(--color-primary-dark);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.taskCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.taskTitle {
  font-size: 18px;
  font-weight: 700;
}

.actions {
  display: flex;
  gap: 8px;
}

@media (max-width: 600px) {
  .taskCard {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
